body{
    background-color: black;
    color: white;
}
main {
    min-height: 100vh;
    background-color: black;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
}
.main-header--container {
    width: min(100%, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.main-header--container > ul {
    display: flex;
    font-size: 2.1rem;
    gap: 2rem;
    z-index: 1000;
}
#main-header ul .selected {
    color: #0bec12;
}
.main-header--container > ul > li:hover {
    position: relative;
    top: -2px;
}